asgiref==3.6.0
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.2.0
crispy-bootstrap4==2022.1
cryptography==41.0.3
dj-database-url==2.1.0
dj-static==0.0.6
Django==4.2.1
django-auth-ldap==4.3.0
django-crispy-forms==2.0
future==0.18.3
idna==3.4
ldap3==2.9.1
ms-identity-web
msal==1.23.0
pipdeptree==2.13.0
plumbum==1.8.1
pyad==0.6.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
PyJWT==2.8.0
python-decouple==3.8
python-dotenv==1.0.0
python-ldap==3.4.3
requests==2.31.0
rpyc==5.3.1
secure-smtplib==0.1.1
sqlparse==0.4.4
static3==0.7.0
typing_extensions==4.7.1
urllib3==2.0.4
libldap2-dev
libsasl2-dev
