crispy-bootstrap4==2022.1
dj-database-url==2.1.0
dj-static==0.0.6
django-auth-ldap==4.3.0
ldap3==2.9.1
ms-identity-web==0.16.6
pip==23.2.1
pipdeptree==2.13.0
pyad==0.6.0
python-decouple==3.8
python-dotenv==1.0.0
rpyc==5.3.1
secure-smtplib==0.1.1